// Base
@import "core/fonts";
@import "core/settings";
@import "core/base";
@import "core/layout";

@import "elements/forms";
@import "elements/typography";

@import "components/gallery";
@import "components/nav";
@import "components/tags";
@import "components/tiles";
@import "components/zoom";

@font-face {
    font-family: 'bebas_kairegular';
    src: url('../fonts/webfontkit/bebaskai-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit/bebaskai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flamabookitalic';
    src: url('../fonts/webfontkit/flamabook-italic-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit/flamabook-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'bebas_kairegular';
	letter-spacing: 1px;
}

p {
	font-family: 'flamabookitalic';
}

body {
	padding: 0 10px;
	-webkit-font-smoothing: antialiased;
	background-image: url('../../../../assets/img/texture.jpg');
	@media (min-width: 768px) {
		padding: 0;
	}
}

.info-podcast-title i {
	display: none;
}

.navbar-redwood {
	margin-bottom: 0;
	background: transparent;
    border: 0;
    &--scrolled {
    	position: fixed;
    	top: 20px;
    	right: 0;
    	left: 0;
    	opacity: 0;
    	transition: .25s;
    	.scrolled & {
    		@media (min-width: 1400px) {
    			opacity: 1;
    		}
    	}
    }
    .navbar-brand {
		height: auto;
		padding: 20px 15px;
	}
	.row {
		@media (min-width: 1400px) {
			margin: 0 -110px;
		}
	}
}

.navbar-brand {
	position: relative;
	padding-left: 0 !important;
	transform: scale(.75);
    transform-origin: center left;
    transition: .25s;
	@media (min-width: 768px) {
		padding-left: 15px !important;
		transform: scale(1);
	}
	&__mark {
		&--scrolled {
			position: fixed;
			top: 0;
			left: 0;
		}
	}
	&__logo {
		position: absolute;
		top: 50%;
		left: 95px;
		transform: translateY(-50%);
		@media (min-width: 768px) {
			left: 110px;
		}
	}
}

.social-list {
	padding: 0;
	margin: 0 0 60px;
	font-size: 3rem;
	list-style-type: none;
	li {
		display: inline;
		margin-right: 20px;
	}
	i {
		transform: scale(1);
		transition: .25s;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.episode-container {
	position: relative;
	margin-bottom: 80px;
	overflow: hidden;
	color: #FFF;
	background-color: #202224;
	&__broadcast {
		position: absolute;
		top: 0;
		left: -80px;
	}
	&__meta {
		position: relative;
		z-index: 9;
		padding: 60px 40px;
		@media (min-width: 768px) {
			padding: 80px;
		}
	}
	&__title {
		margin-bottom: 0;
		text-align: center;
	}
	&__subtitle {
		margin-bottom: 24px;
		text-align: center;
	}
	&__content {
		margin-bottom: 48px;
	}
	&__player {

	}
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		width: 50%;
		height: 100%;
		text-align: center;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		img {
			width: 80%;
		}
	}
}

.row--adapt-overcome {
	margin: 0 -30px;
}

.card-body {
	&__btn {
		width: 100%;
		margin-bottom: 15px;
		font-family: 'bebas_kairegular';
		font-size: 16px;
		letter-spacing: 1px;
		background-color: #202224;
		border: 1px solid #202224;
		border-radius: 0;
		opacity: 1;
		transition: .2s;
		&:hover {
			background-color: #202224;
			border: 1px solid #202224;
			opacity: .8;
		}
	}
}

.show-me-the-money {
	display: inline-block;
	padding: 0 40px;
	margin: 20px 10px 40px;
	font-family: 'bebas_kairegular';
	line-height: 40px;
	color: #202224;
	border: 4px solid #202224;
	transition: .25s;
	&:focus {
		color: #202224;
		text-decoration: none;
	}
	&:hover {
		color: #FFF;
		text-decoration: none;
		background-color: #202224;
	}
	.boom-jangles & {
		display: none;
	}
}

.the-rest-of-the-owl {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: opacity .25s;
	.boom-jangles & {
		height: auto;
		opacity: 1;
	}
}
