<nav class="navbar navbar-redwood">
	<div class="container">
		<div class="row">
			<div class="col">
			    <a class="navbar-brand" href="/" title="{{ site_name }}">
			        <div class="navbar-brand__mark">
			            {{ partial:svg/mof1-mark }}
			        </div>
			        <div class="navbar-brand__logo">
			            {{ partial:svg/mof1-logo }}
			        </div>
			    </a>
			</div>
		</div>
	</div>
</nav>
<nav class="navbar navbar-redwood navbar-redwood--scrolled">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="navbar-brand__mark">
					{{ partial:svg/mof1-scrolled }}
				</div>
			</div>
		</div>
	</div>
</nav>
